* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(200, 95%, 50%);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  min-height: 200px;
  padding: 2em;
  border-radius: 1em;
  background-color: hsl(0, 0%, 100%);
}

.fun-fact {
	height: 2em;
  margin: 1em;
}

i {
  margin: 1em;
}
